.loadingSpinnerContainer {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.5);

	display: flex;
	justify-content: center;
	align-items: center;
}

.loadingSpinner {
	width: 80px;
	height: 80px;
	border: 10px solid;
	border-color: rgb(105, 208, 54) transparent rgb(49, 138, 182) transparent;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
