@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

body {
	background-color: rgb(238, 238, 238);
}

.home-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 100vh;
	width: auto;

	background-color: rgb(244, 244, 244);
	font-family: 'Manrope', cursive;
	letter-spacing: 0.1rem;

	animation: fade-in 0.4s ease-in 1 normal none;
}

.success {
	font-size: 2rem;
}

.para {
	padding-bottom: 1rem;
}

.home-img {
	max-width: 600px;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
